* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Noto Sans TC", sans-serif;
}
header {
  opacity: 0.9;
}
header .nav-link {
  transition: 1500ms ease;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden auto;
  background: #eee;
  background-size: auto;
  background-repeat: no-repeat;
}
.header {
  position: fixed;
  z-index: 50;
}
.experience {
  width: 100%;
  height: 100%;
  margin: auto;
}
.timeline a:hover {
  background-color: #6fa5f6;
}
.timeline a:hover h4,
.timeline a:hover p {
  color: #fff;
}
.timeline h4 {
  color: #333;
  font-weight: 700;
}
.timeline p {
  color: #666;
  font-weight: 100;
}
.timeline li {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 0;
  position: relative;
}

.timeline a {
  display: block;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #aaa;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #888;
}
.timeline li::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -30px;
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #aaa;
  z-index: 2;
}
.timeline li:nth-child(odd)::after,
.timeline li:nth-child(even)::after {
  content: "";
  position: absolute;
  width: 1px;
  top: 0;
  height: 100%;
  background-color: #ccc;
  left: -20px;
  z-index: -1;
}
.timeline h4::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 20px;
  background-color: #aaa;
  top: 0;
  bottom: 0;
  margin: auto;
}
.timeline li:nth-child(odd) h4::after,
.timeline li:nth-child(even) h4::after {
  left: -20px;
}
.skills {
  width: 100vw;
  background-image: linear-gradient(45deg, #f0f9ff, #c1d2f8);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem 0 5rem;
}
.skills > .container > h3 {
  color: #2d7adf;
}
.item {
  width: 100%;
  box-sizing: border-box;
  border: 5px solid #397dd6;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #5d96ff;
  position: relative;
  margin-top: 5rem;
}
.item .icon {
  text-align: center;
  width: 150px;
  height: 150px;
  background: linear-gradient(180deg, #ffffff 50%, transparent 50%);
  margin: -75px auto -100px;
  font-size: 60px;
  line-height: 130px;
  border-radius: 50%;
  color: #2d7adf;
  position: relative;
}
.item .icon::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-top: 5px solid#2d7adf;
  border-right: 5px solid#2d7adf;
  border-left: 5px solid transparent;
  border-bottom: 5px solid transparent;
  left: 0;
  top: 0;
  border-radius: 50%;
  transform: rotate(-45deg);
}
.item .txt {
  width: 100%;
  text-align: center;
  margin: auto;
}
.item ol {
  text-align: left;
  padding: 0;
  margin: auto;
}
.item:hover .ani {
  animation: ss 0.2s linear infinite alternate;
}
.item .txt {
  padding: 80px 20px 30px;
}
.portfolio {
  padding: 2rem 0;
}

.card+img{
  width: 100%;
}
.ic img{
  width: 30px;
}
.footer {
  background: #333;
  width: 100vw;
  height: 10vh;
}
@media screen and (min-width: 576px) {
  .timeline li::before {
    left: -50px;
  }
  .timeline li:nth-child(n)::after {
    left: -40px;
  }
  .timeline h4::after {
    width: 40px;
  }
  .timeline li:nth-child(n) h4::after {
    left: -40px;
  }
}
@media screen and (min-width: 768px) {
  .item {
    width: 48%;
  }
}
@media screen and (min-width: 992px) {
  .item,.card {
    width: 33%;
  }
  .experience {
    height: 120vh;
  }
  .timeline li {
    width: 50%;
  }
  .timeline li:nth-child(odd) {
    float: left;
    padding-right: 100px;
  }
  .timeline li:nth-child(even) {
    float: right;
    padding-left: 100px;
    transform: translateY(50%);
  }
  .timeline li:nth-child(odd)::after {
    content: "";
    position: absolute;
    width: 1px;
    top: 0;
    height: 100%;
    background-color: #ccc;
    left: 100%;
    z-index: -1;
  }
  .timeline li:nth-child(even)::after {
    display: none;
  }
  .timeline li::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #aaa;
    z-index: 2;
  }
  .timeline li:nth-child(odd)::before {
    left: 100%;
    transform: translateX(-50%);
  }
  .timeline li:nth-child(even)::before {
    left: -10px;
  }
  .timeline h4::after {
    width: 100px;
  }
  .timeline li:nth-child(odd) h4::after {
    left: 100%;
    transform: translateX(-100%);
  }
  .timeline li:nth-child(even) h4::after {
    left: 0;
  }
}
@media screen and (min-width: 1200px) {
  .item {
    width: 24.5%;
  }
  .experience {
    height: 105vh;
  }
}
@keyframes ss {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
